.parallax-window {
    min-height: 200px;
    background: transparent;
}

  body {
    background-color:antiquewhite
  }


  span {
text-align: center;
  }


  #time {
    color: red;
    font-size: 20px;
  }


.question {

  padding: 20px;

}


label {
  display: table;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
  margin-top: 10px;

}

#runTrivia {
  font-size: 15px;

}

.answer {
  padding-left: 30px;
}

#triviaWrapper {
  background-color: white;
  padding: 30px 0px;
  width: 80%;
  height: auto;
  margin: -50px auto 100px auto;
  border-radius: 20px;
  max-width: 800px;
font-size: 20px;
  -webkit-box-shadow: 0px 1px 18px 6px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 1px 18px 6px rgba(0,0,0,0.27);
box-shadow: 0px 1px 18px 6px rgba(0,0,0,0.27);
text-align: center;
}

  button {

transform: translateZ(0);
transition-duration: 0.3s;
transition-property: transform;
  }

  button:focus {
   outline: none;
  }

  button:hover
  {
      transform: scale(1.3);
      transition-duration: 0.3s;
  }
  button:active {
    transform: translateY(-20px);
  }
